<section>
  <div class="card">
    <div class="card-block">
      <ul>
        <li ng-repeat="feedback in feedbacksIndex.all" class="four columns">
          <h4 class="card-title">id: {{ feedback.id }}</h4>
          <h4 class="card-text">customer_id:{{ feedback.customer_id }}</h4>
          <h4 class="card-text">runner_id: {{ feedback.runner_id }}</h4>
          <h4 class="card-text">rating :{{ feedback.rating }}</h4>
          <h4 class="card-text">request_id: {{ feedback.request_id }}</h4>
        </li>
      </ul>
    </div>
  </div>
</section>
