<form novalidate ng-submit="requests.submit()">
  <div>
    <label>ID</label>
    <input type="text" placeholder="ID" ng-model="requests.id">
  </div>
  <div>
    <label>Customer_ID</label>
    <input type="text" placeholder="customer_ID" ng-model="requests.customer_ID">
  </div>
  <div>
    <label>Runner_id</label>
    <input type="text" placeholder="Runner_id" ng-model="requests.runner_id">
  </div>
  <div>
    <label> item_description</label>
    <input type="text" placeholder="item_description " ng-model="requests.item_description">
  </div>

  <button class="btn btn-primary">Request</button>
</form>
