<google-map center="{ lat: 51.5, lng: -0.08 }"></google-map>
<section>
  <div class="card">
    <div class="card-block">
      <span>customer: {{ requestsShow.request.customer.full_name }}</span>
      <span>location_lng:{{ requestsShow.request.location_lng }}</span>
      <span>location_lat: {{ requestsShow.request.location_lat }}</span>
      <span>destination_lat :{{ requestsShow.request.destination_lat }}</span>
      <span>destination_lng: {{ requestsShow.request.destination_lng }}</span>
      <span>value:{{ requestsShow.request.value }}</span>
      <span>item_description :{{ requestsShow.request.item_description }}</span>
      <span>earliest_pickup: {{ requestsShow.request.earliest_pickup }}</span>
      <span>earliest_pickup:{{ requestsShow.request.earliest_pickup }}</span>
      <span>latest_pickup: {{ requestsShow.request.latest_pickup }}</span>
      <span>earliest_delivery :{{ requestsShow.request.earliest_delivery }}</span>
      <span>latest_delivery: {{ requestsShow.request.latest_delivery }}</span>
    </div>
  </div>
</section>
