<google-map center="{ lat: 51.5, lng: -0.08 }" jobs="requestsIndex.all"></google-map>
<section>
  <div class="card">
    <div ng-repeat="request in requestsIndex.all" class="four columns">
      <img class="img-circle" ng-src="{{ request.image  }}" >
      <h4 class="card-text">customer: {{ request.customer.full_name }}</h4>
      <h4 class="card-text">runner: {{ request.runner.full_name }}</h4>
      <h4 class="card-text">location_lng:{{ request.location_lng }}</h4>
      <h4 class="card-text">location_lat: {{ request.location_lat }}</h4>
      <h4 class="card-text">destination_lat :{{ request.destination_lat }}</h4>
      <h4 class="card-text">destination_lng: {{ request.destination_lng }}</h4>
      <h4 class="card-text">value:{{ request.value }}</h4>
      <h4 class="card-text">item_description :{{ request.item_description }}</h4>
      <h4 class="card-text">earliest_pickup: {{ request.earliest_pickup }}</h4>
      <h4 class="card-text">latest_pickup: {{ request.latest_pickup }}</h4>
      <h4 class="card-text">earliest_delivery :{{ request.earliest_delivery }}</h4>
      <h4 class="card-text">latest_delivery: {{ request.latest_delivery }}</h4>
      <button class="btn btn-primary" ng-click="requestsIndex.accept(request)">Accept Request</button>
    </div>
  </div>
</section>
