<section>
  <div class="card">
    <div class="card-block">
      <img class="img-circle" ng-src="{{ usersShow.user.photo }}" >
      <h4 class="card-title">{{ usersShow.user.username }}</h4>
      <p class="card-text">{{ usersShow.user.email }}</p>
      <button ui-sref="requestsNew" ng-if="usersShow.isCustomer" class="btn btn-primary">List a Job</button>
      <button ui-sref="requestsIndex" ng-if="usersShow.isRunner" class="btn btn-primary">Run a Job</button>
    </div>
  </div>
</section>

<section>
  <h2>Jobs</h2>
  <div class="card" ng-repeat="job in usersShow.user.jobs">
    <a ui-sref="requestsShow({ id: job.id })">
      <div class="card-block">
        <h4 class="card-title">{{ job.item_description }}</h4>
        <p class="card-text">{{ job.value | currency }}</p>
      </div>
    </a>
  </div>
</section>
