<section>
  <div class="card">
    <div class="card-block">
        <span ng-repeat="feedback in feedbacksIndex.all" class="four columns">
          <h4 class="card-text">customer:{{ feedback.customer.full_name }}</h4>
          <h4 class="card-text">runner:{{ feedback.runner.full_name }}</h4>
          <h4 class="card-text">rating :{{ feedback.rating }}</h4>
          <h4 class="card-text">comments :{{ feedback.content }}</h4>
        </span>
    </div>
  </div>

  <button class="btn btn-primary" ui-sref="usersShow">Would You Like To List Another Job?</button>

  <button class="btn btn-secondary" ui-sref="usersShow">Would You Like Another Job?</button>
</section>
