<form novalidate ng-submit="feedbacksNew.createFeedback()">

  <div>
    <label>Customer</label>
    <input type="text" placeholder="customer">
  </div>
  <div>
    <label>Runner</label>
    <input type="text" placeholder="Runner_id">
  </div>
  <div>
    <label>Rating</label>
    <input type="text" placeholder="rating ">
  </div>
  <div>
    <label>Comments</label>
    <input type="text" placeholder="rating ">
  </div>
  <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>

  <button type="submit" class="btn btn-primary"> Submit Feedback </button>
</form>
