<form  method="post" novalidate ng-submit="feedbacksNew.createFeedback()">
  <h3 id="logo">Feedback</h3>

  <div>
    <label for="rating">Rating</label>
    <input type="text" id="rating" placeholder="Rating 1-10" name="rating" ng-model="feedbacksNew.feedback.rating">
  </div>
  <div>
    <label for="content">Comments</label>
    <input type="text" id="content" placeholder="Comment"name="content" ng-model="feedbacksNew.feedback.content">
  </div>
  <input type="submit" name="submit" value="Submit Feedback" />
</form>
