
<google-map center="{ lat: 51.5, lng: -0.08 }" jobs="[requestsShow.request]"></google-map>

<h4><strong>Customer ID: </strong>{{ requestsShow.request.customer.id }}</h4>
<h4><strong>Customer: </strong>{{ requestsShow.request.customer.username }}</h4>
<h4><strong>Value: </strong>{{ requestsShow.request.value }}</h4>
<h4><strong>Description: </strong>{{ requestsShow.request.item_description }}</h4>
<h4><strong>Earliest Pickup: </strong>{{ requestsShow.request.earliest_pickup }}</h4>
<h4><strong>Latest Pickup: </strong>{{ requestsShow.request.latest_pickup }}</h4>
<h4><strong>Earliest Delivery: </strong>{{ requestsShow.request.earliest_delivery }}</h4>
<h4><strong>Latest Delivery: </strong>{{ requestsShow.request.latest_delivery }}</h4>
<h4><strong>location_lng: </strong>{{ requestsShow.request.location_lng }}</h4>
<h4><strong>location_lat: </strong>{{ requestsShow.request.location_lat }}</h4>
<h4><strong>destination_lat: </strong>{{ requestsShow.request.destination_lat }}</h4>
<h4><strong>destination_lng: </strong>{{ requestsShow.request.destination_lng }}</h4>
<h4><strong>Accepted? </strong>{{ requestsShow.request.job_accepted ? 'Yes' : 'No' }}</h4>
<h4><strong>Delivered? </strong>{{ requestsShow.request.delivered ? 'Yes' : 'No' }}</h4>

  <button
    ng-if="requestsShow.canShowAcceptButton()"
    class="btn btn-primary"
    ng-click="requestsShow.accept()">Accept Job</button>

  <button
    ng-if="requestsShow.canShowMarkAsDeliveredButton()"
    class="btn btn-primary"
    ng-click="requestsShow.accept()">Mark as Delivered</button>

  <button class="btn btn-secondary" ui-sref="requestsIndex">Other Jobs</button>
