<form novalidate ng-submit="requestsNew.createRequest()">
  <div>
    <label>Location</label>
    <input type="text" placeholder="Location">
  </div>
  <div>
    <label>Destination</label>
    <input type="text" placeholder="Destination">
  </div>
  <div>
    <label>Earliest Pick Up</label>
    <input type="text" placeholder="Earliest Pick Up">
  </div>
  <div>
    <label>Latest Pick Up</label>
    <input type="text" placeholder="Latest Pick Up">
  </div>
  <div>
    <label>Item_description</label>
    <input type="text" placeholder="Item_description">
  </div>
  <div>
    <label>Earliest Delivery</label>
    <input type="text" placeholder="Earliest Delivery">
  </div>
  <div>
    <label>Latest Delivery</label>
    <input type="text" placeholder="Latest_Delivery">
  </div>
  <button class="btn btn-primary">Submit Request</button>

</form>
