<form novalidate ng-submit="requestsNew.createRequest()">
  <div>
    <label>Location_lat</label>
    <input type="text" placeholder="Location_lat">
  </div>
  <div>
    <label>Location_lng</label>
    <input type="text" placeholder="Location_lng">
  </div>
  <div>
    <label>Destination_lat</label>
    <input type="text" placeholder="Destination_lat">
  </div>
  <div>
    <label>Destination_lng</label>
    <input type="text" placeholder="Destination_lng">
  </div>
  <div>
    <label>Earliest Pick Up</label>
    <input type="text" placeholder="Earliest Pick Up">
  </div>
  <div>
    <label>Latest Pick Up</label>
    <input type="text" placeholder="Latest Pick Up">
  </div>
  <div>
    <label>Item_description</label>
    <input type="text" placeholder="Item_description">
  </div>
  <div>
    <label>Value</label>
    <input type="text" placeholder="Value">
  </div>
  <div>
    <label>Earliest Delivery</label>
    <input type="text" placeholder="Earliest Delivery">
  </div>
  <div>
    <label>Latest Delivery</label>
    <input type="text" placeholder="Latest_Delivery">
  </div>
  <button class="btn btn-primary">Submit Request</button>

</form>
