<section class="row">
  <form method="post" ng-submit="usersEdit.update()">
    <h3 id="logo">Edit</h3>
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username" ng-model="usersEdit.user.username">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" ng-model="usersEdit.user.email">
    </div>
    <input type="submit" name="submit" value="Update" />
  </form>
</section>
