body{
  text-align: center;
  font-family: sans-serif;
}
label{
  width: 100%;
}
nav.navbar{
  background-color: steelblue;
  line-height: 30px;
}
.img-circle {
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Google maps css */
.angular-google-map-container { height: 400px; }
