body{
  text-align: center;
  font-family: sans-serif;
}
label{
  width: 100%;
}
nav.navbar{
  background-color: steelblue;
  line-height: 30px;
}
.img-circle {
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.google-map{
  width: 400px;
  height: 400px;
  display: inline-block;
}
.smalltext{
     padding-top: 5px;
     font-size: 16px;
 }
.drag-drop {
  background-color: lightyellow;
  border-radius: 36px;
  margin: auto;
  width: 85px;
  line-height: 85px;
}

.active {
  background-color: #fcfcfc}

  #origin-input,
        #destination-input {
          background-color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 200px;
        }

        #origin-input:focus,
        #destination-input:focus {
          border-color: #4d90fe;
        }
